<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanwei.sanwei4a">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 8.0 系统需要-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.BookDetailsActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.BorrowActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UploadBookActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.BarScanActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.AddressManageActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.BookListActivity" />
        <activity android:name=".activity.MineDetailsActivity" />
        <activity android:name=".activity.PhotoActivity" />
        <activity android:name=".activity.SystemNotificationActivity" />
        <activity android:name=".activity.ProblemActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FindPswActivity" />
        <activity android:name=".activity.newfind.FindActivity" />
        <activity android:name=".activity.DocListActivity" />
        <activity android:name=".activity.RestDetailsActivity" />
    </application>

</manifest>